.navContainer {
    display: flex;
    justify-content: space-between;
    background-color: var(--bagel-font-primary);
}

.pageNavButtonsBox {

}

.socialNavButtonsBox, .pageNavButtonsBox {
    display: flex;
}

.socialNavButtonsBox button, .pageNavButtonsBox button {
    border-style: none;
    margin: 0 1rem;
    color: white;
    background-color: var(--bagel-font-primary);
}