
.menuBox {
  /*border: #805D93 solid 6px;*/
  border-radius: 1.2em;
  display: flex;
  flex-direction: column;
  margin: 25vh auto;
  padding: 2.5rem 4rem;
  width: max-content;
}

.currentLocationBox {
  /*border: forestgreen solid 2px;*/
  display: flex;
}

.icons {
  margin: 0 0.5rem 0 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
